.content {
    background-color: #ffec9e;
    padding: 0.8rem;
    border-radius: 48px;
    margin: 2rem;
}
.utility-bar {
    background-color: #ffbb70;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-radius: 70px;
}
.utility-bar .utilibty-buttons {
    background-color: #ed9455;
    padding: 1rem 2rem;
    margin: 0.2rem;
    border-radius: 30px;
}
.utility-bar input {
    background-color: #ffbb70;
}

.utilibty-buttons:nth-child(3) {
    padding: 0px;
}
.utility-bar > :last-child:hover {
    background: #ea7c2e;
}
.book-shelf {
    /* border: 2px solid red; */
    background-color: #daffd1   ;
    margin: 3rem 12rem;
    display: flex;
    padding: 2rem;
    border-radius: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
