html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    background: linear-gradient(#f7feb7, #67f067, #eef067);
}

.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 2.5rem;
    transform: translate(-50%, -50%);
    background-color: #ffb703;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

.login-card h1 {
    text-align: center;
    color: #283618;
    padding: 0.25rem;
}

.login-card .input-box {
    position: relative;
}

.login-card .input-box input {
    width: 100%;
    padding: 0.25em 0;
    font-size: 1em;
    color: #023047;
    margin-bottom: 2em;
    border: none;
    border-bottom: 3px solid #020a53;
    outline: none;
    background: transparent;
}
.login-card .submitButton {
    display: flex;
    justify-content: center;
}
.login-card .submitButton button {
    width: 100px;
    height: 40px;
    font-weight: bold;
    background: bisque;
    border: none;
    border-radius: 10px;
    transition: width .5s ,height .5s,font-weight .5s ;
}
.login-card .submitButton button:hover {
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border: 3px black solid;
    width: 120px;
    height: 50px;
}
